meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Herramientas educativas en seguridad alimentaria y nutricional.
meta(meta name="description" content="En el presente componente el aprendiz reconocerá como los medios de comunicación masiva permiten proponer el uso de herramientas educativas en Seguridad Alimentaria y Nutricional como parte de procesos de formación para la prevención de la anemia en la primera infancia, mujeres gestantes y madres lactantes según estrategia de Información Educación y Comunicación (IEC).")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")