h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 230101239-04. Promover el uso de herramientas educativas para la prevención de la anemia en la primera infancia, mujeres gestantes y madres lactantes según metodología de información educación y comunicación.