.container
    .header-ecored
        h1 1. Herramientas educativas en seguridad alimentaria y nutricional
    .jumbotron.bg-white
        img.img-a(src="assets/images/pages/ilustraciones/img1.png").img-fluid
        .row.justify-content-center.align-items-center.sup.top
            .col-12.col-md-8.p-card.px-4.py-4
                p Las herramientas educativas en Seguridad Alimentaria y Nutricional SAN se conciben como elementos educativos y didácticos que son diseñados con el fin de apoyar la labor que se realiza para promover las prácticas de alimentación saludable y la prevención de la anemia en la familia y comunidad. 
                p Estas herramientas están destinadas a la enseñanza y aprendizaje autónomo, para generar conocimiento en habilidades de práctica diaria sobre alimentación, y pueden ser elaboradas por organismos internacionales como la Organización de las Naciones Unidas para la Agricultura y la Alimentación (FAO) o la Agencia europea de seguridad alimentaria (AESA) y a nivel nacional por el Ministerio de Salud y Protección Social, ICBF, empresas privadas de competencia en salud alimentaria y los mismos agentes educativos quienes logran que surja un proceso adecuado de enseñanza aprendizaje de acuerdo a necesidades de familias y comunidades colombianas para promover las prácticas de alimentación saludable y la prevención de la anemia.
        .sub-ecored.mt-6#11
            h2 1.1	Medios de comunicación
        p En el mundo avanzado donde todo está cambiando a la velocidad del rayo, los medios de comunicación juegan un papel importante. Dicho esto, la educación en seguridad alimentaria también avanza y significa que la educación ahora se puede transmitir a lugares lejanos, sin obstáculos geográficos. Esto ahorra tiempo, esfuerzo y dinero. 

        p La educación en Seguridad Alimentaria y Nutricional como parte de procesos de formación para la prevención de la anemia en la primera infancia, mujeres gestantes y madres lactantes se transmite desde diferentes medios y puede enfocarse en:

        .header-arrow.py-4.my-5
            h3.text-center Medios masivos: Son canales que permiten transmitir un mismo mensaje de forma simultánea a una enorme cantidad de personas:
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img2.svg").img-fluid   

        .sub-ecored.mt-5#12
            h2 1.2	Herramientas educativas del Instituto Colombiano de Bienestar Familiar 
        p A continuación, se relacionan algunas herramientas educativas en Seguridad Alimentaria y Nutricional, existentes y disponibles del Instituto Colombiano de Bienestar Familiar, como son: 
        
        .row.justify-content-center.mt-5
            .col-10
                .card-media.color-card-1
                    .card-media__body
                        figure.card__figure
                            img.img-a(src="assets/images/pages/ilustraciones/img3.svg").img-fluid                         
                        h3 Herramienta Educativa: Cartilla de Estrategia de Información, Educación y Comunicación en Seguridad Alimentaria y Nutricional del ICBF  
                        .hr-ecored
                        p Dirigida a los agentes educativos del ICBF, contiene orientaciones sobre el diseño de la Estrategia de Información, Educación y Comunicación en Seguridad Alimentaria y Nutricional del ICBF, para el fomento de prácticas de alimentación saludable, la cual busca promover cambios permanentes de comportamientos en las familias colombianas.   

                        section.mt-2
                            a(href="media/documentos/Anexo_1_CartillaIECDigital.pdf" target="_blank").media-link      

                                img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon

                                .media-link-title.ml-4
                                    p #[strong Anexo.] Cartilla_IEC_Digital 

            .col-10
                .card-media.color-card-2
                    .card-media__body
                        figure.card__figure
                            img.img-a(src="assets/images/pages/ilustraciones/img4.svg").img-fluid       
                        h3 Herramienta Educativa: Infografía de la Ruta metodológica para el diseño de estrategias IEC en SAN para el fomento de prácticas de alimentación saludable  
                        .hr-ecored
                        p Para la implementación de la estrategia IEC en SAN, se ha elaborado una infografía sobre los 6 pasos para construir una Estrategia IEC en SAN para el fomento de prácticas de alimentación saludable, que permite reconocer la finalidad de cada uno de estos pasos.
                        p Dirigido a: colaboradores y agentes educativos institucionales y comunitarios de las diferentes modalidades del ICBF.

                        section
                            a(href="media/documentos/Anexo_2_Infografia_EstrategiaIEC.pdf" target="_blank").media-link      

                                img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon

                                .media-link-title.ml-4
                                    p #[strong Anexo.] Infografía IEC.pdf 

            .col-10
                .card-media.color-card-3
                    .card-media__body
                        figure.card__figure 
                            img.img-a(src="assets/images/pages/ilustraciones/img5.svg").img-fluid
                        h3 Herramienta Educativa: Video sobre los 6 pasos para el diseño de estrategias IEC en SAN para el fomento de prácticas de alimentación saludable 
                        .hr-ecored
                        p Además de la cartilla, los agentes educativos pueden acceder a un video que explica de manera sencilla y práctica, el desarrollo de los 6 pasos para construir una Estrategia IEC en SAN para el fomento de prácticas de alimentación saludable.
                        p Dirigido a: colaboradores y agentes educativos institucionales y comunitarios de las diferentes modalidades del ICBF.
                        section
                            a(href="https://www.youtube.com/watch?v=iSBaLUnUmSI&feature=youtu.be&ab_channel=RedProducci%C3%B3ndeContenidosGrupoGesti%C3%B3nCurricularSENA" target="_blank").media-link      

                                img(src="assets/images/pages/ilustraciones/icon_www.svg", alt="").media-link-icon

                                .media-link-title.ml-4
                                    p #[strong Anexo.] Vídeo 6 pasos IEC 

            .col-10
                .card-media.color-card-1
                    .card-media__body
                        figure.card__figure   
                            img.img-a(src="assets/images/pages/ilustraciones/img6.svg").img-fluid 
                        h3 Herramienta Educativa: Cartelera en tela sobre mitos, prácticas tradicionales y creencias culturales relacionadas con la lactancia materna y la alimentación complementaria.  
                        .hr-ecored
                        p Imágenes ilustradas que muestran 6 mitos, prácticas y creencias culturales identificadas por los agentes educativos de La Guajira, que afectan de manera positiva o negativa la práctica de lactancia materna y el inicio adecuado de la alimentación complementaria.  Busca resolver inquietudes frente a cómo debe ser una adecuada práctica de lactancia materna y orienta en la adopción de adecuadas prácticas de alimentación durante los dos primeros años de vida.
                        p Dirigido a: colaboradores y agentes educativos institucionales y comunitarios de las diferentes modalidades del ICBF.

                        section
                            a(href="media/documentos/Anexo_4_Telar_MitosLM_espanol.jpg" target="_blank").media-link      

                                img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon

                                .media-link-title.ml-4
                                    p #[strong Anexo.] Telar Mitos español 
            
            .col-10
                .card-media.color-card-2
                    .card-media__body
                        figure.card__figure  
                            img.img-a(src="assets/images/pages/ilustraciones/img7.svg").img-fluid  
                        h3 Herramienta Educativa: Cartilla: protégelos con tu corazón de hierro”.
                        .hr-ecored
                        p Cartilla que recopila preparaciones tradicionales con alimentos fuentes de hierro, orientando la introducción de estos alimentos durante el inicio de la alimentación complementaria a partir de los 6 meses de edad.
                        p Dirigido a: colaboradores y agentes educativos institucionales y comunitarios de las diferentes modalidades del ICBF.

                        section
                            a(href="media/documentos/Anexo_5_Cartilla_protegelos_deAnemiaConTuCorazonDeHierrro.pdf" target="_blank").media-link      

                                img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon

                                .media-link-title.ml-4
                                    p #[strong Anexo.] Protégelos con tu corazón de hierro 

            .col-10
                .card-media.color-card-3
                    .card-media__body
                        figure.card__figure
                            img.img-a(src="assets/images/pages/ilustraciones/img8.svg").img-fluid     
                        h3 Herramienta Educativa: Afiche sobre el esquema de alimentación complementaria. 
                        .hr-ecored
                        p El afiche muestra de manera ilustrada el esquema de alimentación complementaria a partir de los 6 meses de edad. Se brinda orientación a las madres, padres y cuidadores de niños y niñas menores de dos años sobre los alimentos que se deben ofrecer de los diferentes grupos, y la consistencia, de igual manera resalta la importancia de ofrecer una alimentación variada, fresca y preparada en casa.
                        p Dirigida a: madres, padres y cuidadores de niños y niñas menores de 2 años.

                        section
                            a(href="media/documentos/Anexo_6_Afiche Alimentacion_Complementaria.pdf" target="_blank").media-link      

                                img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon

                                .media-link-title.ml-4
                                    p #[strong Anexo.] Afiche sobre el esquema de alimentación complementaria               

            .col-10
                .card-media.color-card-1
                    .card-media__body
                        figure.card__figure 
                            img.img-a(src="assets/images/pages/ilustraciones/img9.svg").img-fluid    
                        h3 Herramienta Educativa: Guías Alimentarias Basadas en Alimentos para la población colombiana.  
                        .hr-ecored
                        p Guías Alimentarias Basadas en Alimentos para la población colombiana mayor de 2 años
                        p El objetivo de las guías alimentarias es el de contribuir al fomento de estilos de vida saludables, al control de las deficiencias o excesos en el consumo de alimentos y a la reducción del riesgo de enfermedades relacionadas con la alimentación; a través de mensajes comprensibles, que permitan a nivel familiar e institucional, realizar la mejor selección y manejo de los alimentos.
                        p Están dirigidas a personas sanas, orienta a la familia, a los educadores, a las asociaciones de consumidores, a los medios de comunicación y a la industria de alimentos, entre otros con el fin de influir en la prevención de las carencias nutricionales que afectan a la población como son, la desnutrición, las deficiencias de micronutrientes, especialmente hierro y vitamina A. 

                        section
                            a(href="media/documentos/Anexo_7_Manual_GABA_2_mas.pdf" target="_blank").media-link      

                                img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon

                                .media-link-title.ml-4
                                    p #[strong Anexo.] Manual para facilitadores 
            .col-10
                .card-media.color-card-2
                    .card-media__body
                        figure.card__figure   
                            img.img-a(src="assets/images/pages/ilustraciones/img10.svg").img-fluid 
                        h3 Herramienta Educativa: Guías Alimentarias Basadas en Alimentos para la población colombiana. 
                        .hr-ecored
                        p Guías Alimentarias Basadas en Alimentos para las mujeres gestantes, madres en periodo de lactancia y niños y niñas menores de 2 años para 
                        p Para ampliar la información se puede consultar los documentos técnicos, los manuales de facilitadores y las infografías en la página web del ICBF en el siguiente enlace:

                        section
                            a(href="media/documentos/Anexo_8_Manual_GABA_gestantes_a_2.pdf" target="_blank").media-link      

                                img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon

                                .media-link-title.ml-4
                                    p #[strong Anexo.] Manual del facilitador 
            .col-10
                .card-media.color-card-3
                    .card-media__body
                        figure.card__figure 
                            img.img-a(src="assets/images/pages/ilustraciones/img20.svg").img-fluid    
                        h3 Herramienta Educativa: Cartilla: mi plato un arcoíris divertido de sabores. 
                        .hr-ecored
                        p Herramienta creada a partir de las Guías alimentarias basadas en alimentos para la población colombiana, dirigida a padres, madres y cuidadores de niños y niñas de 2 a 5 años.  En ella se presenta una guía para seleccionar los mejores alimentos y las porciones adecuadas para cada una de las comidas, lo que permite garantizar una alimentación variada, nutritiva y saludable, que favorezca el crecimiento y el desarrollo de los huesos, los músculos y el cerebro de los niños y las niñas en la primera infancia.   

                        section
                            a(href="media/documentos/Anexo_9_Cartilla_mi_plato_un_arcoiris_divertido_de_sabores.pdf" target="_blank").media-link      

                                img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon

                                .media-link-title.ml-4
                                    p #[strong Anexo.] Mi plato, un arcoíris divertido de sabores  
            .col-10
                .card-media.color-card-1
                    .card-media__body
                        figure.card__figure
                            img.img-a(src="assets/images/pages/ilustraciones/img11.svg").img-fluid    
                        h3 Herramienta Educativa: Ruleta sobre alimentación complementaria. 
                        .hr-ecored
                        p Esta pieza educativa brinda recomendaciones generales a las madres, padres y cuidadores de niños y niñas menores de 2 años para el inicio adecuado de la alimentación complementaria. Ofrece menús para ofrecer a niños y niñas de 6 a 24 meses, en tres etapas diferentes: 6 a 8 meses, 9 a 12 meses y 12 a 24 meses.  Diferenciando la introducción de alimentos en cuanto a la cantidad, calidad y consistencia.   

                        section
                            a(href="media/documentos/Anexo_10_Ruleta_alimentacion.pdf" target="_blank").media-link      

                                img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon

                                .media-link-title.ml-4
                                    p #[strong Anexo.] Ruleta alimentación 
            .col-10
                .card-media.color-card-2
                    .card-media__body
                        figure.card__figure
                            img.img-a(src="assets/images/pages/ilustraciones/img12.svg").img-fluid      
                        h3 Herramienta Educativa: Manual de facilitador de las Guías alimentarias basadas en alimentos dirigidas a agentes educativos o facilitadores que trabajan con niños y niñas de 6 a 12 años.  
                        .hr-ecored
                        p El manual orienta el desarrollo de actividades de educación alimentaria y nutricional dirigidas a niños y niñas de 6 a 12 años, a través de actividades lúdicas donde se presentan los 9 mensajes de las GABAS.  Resalta la importancia de adoptar adecuados hábitos de alimentación desde la infancia, como factor protector a la aparición de enfermedades crónicas como la obesidad.  

                        section
                            a(href="media/documentos/Anexo_11_Cartilla_Manual_GABA6a12.pdf" target="_blank").media-link      

                                img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon

                                .media-link-title.ml-4
                                    p #[strong Anexo.] Guía para el facilitador GABAS para niños y niñas escolares (6 a 12 años)
            .col-10
                .card-media.color-card-3
                    .card-media__body
                        figure.card__figure  
                            img.img-a(src="assets/images/pages/ilustraciones/img13.svg").img-fluid  
                        h3 Herramienta Educativa: Videos sobre los 7 mensajes de las GABAS adaptado a población en edad escolar 
                        .hr.ecored
                        p El video muestra de manera animada los 7 mensajes de las GABAS adaptada a la cotidianidad de los niños y niñas en edad escolar.  Resalta la importancia de adoptar adecuados hábitos de alimentación desde la infancia, como factor protector a la aparición de enfermedades crónicas como la obesidad.  Es una herramienta complementaria al manual de facilitador que se mencionó anteriormente. Dirigido a: niños y niñas de 6 a 12 años.  

                        section
                            a(href="https://www.youtube.com/playlist?list=PLkc5n6npRWkgMAaH8W586sd5DayqPVELa" target="_blank").media-link      

                                img(src="assets/images/pages/ilustraciones/icon_www.svg", alt="").media-link-icon

                                .media-link-title.ml-4
                                    p #[strong Anexo.] Mensajes de GABAS  

            .col-10
                .card-media.color-card-1
                    .card-media__body
                        figure.card__figure  
                            img.img-a(src="assets/images/pages/ilustraciones/img14.svg").img-fluid 
                        h3 Herramienta Educativa: Cartilla para empezar una nueva vida.  
                        .hr-ecored
                        p Esta cartilla, realizada en alianza con la Sociedad Colombiana de Pediatría, hace parte del compromiso del ICBF para construir una sociedad en paz, próspera y equitativa. La lactancia materna no solo es una herramienta fundamental para lograr el bienestar de los hijos, los nietos y sus familias, también es la mayor prueba de amor de una mamá hacia su bebé. Dirigida a mujeres gestantes, madres en periodo de lactancia y sus familias.  

                        section
                            a(href="media/documentos/Anexo_13_Cartilla_empezar_una_nueva_vida.pdf" target="_blank").media-link      

                                img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon

                                .media-link-title.ml-4
                                    p #[strong Anexo.] Cartilla empezar una nueva vida 

            .col-10
                .card-media.color-card-2
                    .card-media__body
                        figure.card__figure
                            img.img-a(src="assets/images/pages/ilustraciones/img15.svg").img-fluid   
                        h3 Herramienta Educativa: Cartilla: distribución, cuidado y uso de alimento de alto valor nutricional  
                        .hr-ecored
                        p En esta cartilla se divulgan las propiedades nutricionales de los Alimentos de Alto Valor Nutricional (AAVN), se describen recetas de cocina de fácil preparación con la inclusión de este nutritivo producto en una rica variedad de platos saludables y nutritivos. 

                        section
                            a(href="media/documentos/Anexo_14_cartilla_bienestarina.pdf" target="_blank").media-link      

                                img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon

                                .media-link-title.ml-4
                                    p #[strong Anexo.] Cartilla bienestarina 
            .col-10
                .card-media.color-card-3
                    .card-media__body
                        figure.card__figure 
                            img.img-a(src="assets/images/pages/ilustraciones/img16.svg").img-fluid  
                        h3 Herramienta Educativa: Estrategia “Mis Manos te enseñan” pautas para convivir en casa. 
                        .hr-ecored
                        p Una Estrategia del ICBF que busca acompañar a las familias para que los días de aislamiento preventivo se conviertan en grandes oportunidades de vivir experiencias significativas y enriquecedoras, compartir tiempo, estrechar vínculos afectivos y hacer de su hogar el lugar más seguro para sus niños, niñas y adolescentes.
                        p Dentro de las temáticas se presentan contenidos relacionados con la promoción de una alimentación saludable. Se presentan diferentes contenidos del curso de vida.

                        section
                            a(href="https://www.icbf.gov.co/mis-manos-te-ensenan/mis-manos-te-ensenan" target="_blank").media-link      

                                img(src="assets/images/pages/ilustraciones/icon_www.svg", alt="").media-link-icon

                                .media-link-title.ml-4
                                    p #[strong Anexo.] Mis manos te enseñan  
            .col-10
                .card-media.color-card-1
                    .card-media__body
                        figure.card__figure 
                            img.img-a(src="assets/images/pages/ilustraciones/img17.svg").img-fluid                         
                        h3 Herramienta Educativa: Cursos virtuales ICBF  
                        .hr-ecored
                        p El ICBF desarrolla actividades virtuales para incentivar a la comunidad y con el apoyo de agentes educativos para sensibilizar a la población beneficiaria en diferentes cursos:
                        .list.ml-2.mt-2
                            .list__item
                                .list__item__icon
                                    img.icon-top.img-a(src="assets/images/pages/ilustraciones/icon_duoble_chevron.svg").img-fluid  
                            .list__txt
                                p Curso Virtual consejería en Lactancia Materna.
                        .list.ml-2.mt-2
                            .list__item
                                .list__item__icon
                                    img.icon-top.img-a(src="assets/images/pages/ilustraciones/icon_duoble_chevron.svg").img-fluid  
                            .list__txt
                                p Curso Virtual sobre Guías Alimentaria Basadas en Alimentos para la población. colombiana mayor de 2 años. 
                        .list.ml-2.mt-2
                            .list__item
                                .list__item__icon
                                    img.icon-top.img-a(src="assets/images/pages/ilustraciones/icon_duoble_chevron.svg").img-fluid  
                            .list__txt
                                p Curso Virtual sobre Guías Alimentaria Basadas en Alimentos para mujeres gestantes, madres lactantes y niños y niñas menores de 2 años.
                        .list.ml-2.mt-2
                            .list__item
                                .list__item__icon
                                    img.icon-top.img-a(src="assets/images/pages/ilustraciones/icon_duoble_chevron.svg").img-fluid  
                            .list__txt
                                p Curso Virtual Derecho humano a la Alimentación.

                        section
                            a(href="https://escueladelicbf.icbf.gov.co/" target="_blank").media-link      

                                img(src="assets/images/pages/ilustraciones/icon_www.svg", alt="").media-link-icon

                                .media-link-title.ml-4
                                    p #[strong Anexo.] Escuela ICBF.  
            .col-10
                .card-media.color-card-2
                    .card-media__body
                        figure.card__figure
                            img.img-a(src="assets/images/pages/ilustraciones/img18.svg").img-fluid     
                        h3 Herramienta Educativa: Herramienta de Política e Investigación en SAN   
                        .hr-ecored
                        p La tabla de composición de alimentos Colombianos (TCAC) es un instrumento elaborado por el Instituto Colombiano de Bienestar Familiar (ICBF) que recopila el contenido de nutrientes y el aporte de energía de los alimentos que consume la población colombiana.
                        p También puede encontrar un resumen ejecutivo y una infografía dirigida a profesionales de nutrición y dietética, que laboren desde diferentes sectores como salud, educación, industria, servicios de alimentos entre otros.

                        section
                            a(href="media/documentos/Anexo_17_TCAC.pdf" target="_blank").media-link      

                                img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon

                                .media-link-title.ml-4
                                    p #[strong Anexo.] Tabla de Composición de Alimentos Colombianos -TCAC 
            .col-10
                .card-media.color-card-3
                    .card-media__body
                        figure.card__figure 
                            img.img-a(src="assets/images/pages/ilustraciones/img19.svg").img-fluid
                        h3 Herramienta Educativa: Herramienta de Política e Investigación en SAN  
                        .hr-ecored
                        p Encuesta Nacional de Situación Nutricional ENSIN es una herramienta fundamental de la política pública y un insumo básico para proponer acciones en seguridad alimentaria y nutricional. Es un estudio que permite medir los problemas nutricionales de la población colombiana, así como identificar los determinantes sociales, los indicadores y las tendencias del país en materia nutricional, como insumo para apoyar la toma de decisiones políticas y técnicas para su intervención.
                        p En la página del ICBF podrá encontrar un resumen ejecutivo de la ENSIN 2015 y 6 infografías una por cada región con los indicadores más relevantes, que acompañen la gestión, planeación, implementación, seguimiento y evaluación de planes, proyectos en SAN en territorio o a nivel nacional.

                        section
                            a(href="media/documentos/Anexo_18_Resumen_Ejecutivo_ENSIN.pdf" target="_blank").media-link      

                                img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon

                                .media-link-title.ml-4
                                    p #[strong Anexo.] Resumen ejecutivo ENSIN 

        .sub-ecored.mt-5#13
            h2 1.3.	Herramientas educativas del Ministerio de Salud y Protección Social.
        p Desde el Ministerio de Salud y Protección Social se cuenta con las herramientas educativas denominadas “Serie ABC”:  
        .row.border-color.py-4.mt-5
            .col-3
                #v-pills-tab.nav.flex-column.nav-pills(role='tablist', aria-orientation='vertical')
                    a#v-pills-home-tab.nav-link.active(data-toggle='pill', href='#v-pills-1', role='tab', aria-controls='v-pills-1', aria-selected='true') 1. ABC de la lactancia materna.
                    a#v-pills-profile-tab.mt-2.nav-link(data-toggle='pill', href='#v-pills-2', role='tab', aria-controls='v-pills-2', aria-selected='false') 2. ABC del Control y la Prevención de la deficiencia de Micronutrientes.
                    a#v-pills-messages-tab.mt-2.nav-link(data-toggle='pill', href='#v-pills-3', role='tab', aria-controls='v-pills-3', aria-selected='false') 3. ABC de la alimentación saludable.
                    a#v-pills-messages-tab.mt-2.nav-link(data-toggle='pill', href='#v-pills-4', role='tab', aria-controls='v-pills-4', aria-selected='false') 4. ABC de la inocuidad de alimentos.  

            .col-8.ml-2
                #v-pills-tabContent.tab-content
                    #v-pills-1.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='v-pills-1-tab')
                        .row.justify-content-center.align-items-center
                            .col
                                p Aborda la importancia de la práctica de la lactancia materna, las recomendaciones de la Organización Mundial de la Salud y algunas de las estrategias que se han fortalecido desde el Ministerio de Salud y Protección Social.  
                                section.mt-3
                                    a(href="https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/VS/PP/SNA/abc_lactancia_materna.pdf" target="_blank").media-link      

                                        img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon

                                        .media-link-title.ml-4
                                            p #[strong Anexo.] Abc lactancia materna
                            .col-auto
                                img.img-a.my-2(src="assets/images/pages/ilustraciones/img21.svg").img-fluid                            

                    #v-pills-2.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-2-tab')
                        .row.justify-content-center.align-items-center
                            .col
                                p Desarrolla la importancia de los micronutrientes en la alimentación, describe la anemia nutricional y sus consecuencias en la salud. Así mismo, resalta la estrategia de los micronutrientes en polvo como un complemento de la alimentación casera, diseñado especialmente para suministrarse a niños y niñas de 6 a 23 meses de edad; que contribuyen a mejorar el estado nutricional y que debe ser suministrado según indicación médica en los servicios de salud, basado en la Resolución 3280 de 2018.   
                                section.mt-3
                                    a(href="https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/VS/PP/SNA/abc_micronutrientes.pdf" target="_blank").media-link      

                                        img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon

                                        .media-link-title.ml-4
                                            p #[strong Anexo.] Abc del Control y la Prevención de la deficiencia de Micronutrientes
                            .col-auto
                                img.img-a.my-2(src="assets/images/pages/ilustraciones/img22.svg").img-fluid  
                    #v-pills-3.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-3-tab')
                        .row.justify-content-center.align-items-center
                            .col
                                p Describe el concepto, las características de la alimentación saludable y las recomendaciones soportadas en las Guías Alimentarias Basadas en Alimentos.  
                                section.mt-3
                                    a(href="https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/VS/PP/SNA/abc-alimentacion-saludable.pdf" target="_blank").media-link      

                                        img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon

                                        .media-link-title.ml-4
                                            p #[strong Anexo.] Abc de la alimentación saludable
                            .col-auto
                                img.img-a.my-2(src="assets/images/pages/ilustraciones/img23.svg").img-fluid  

                    #v-pills-4.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-4-tab')
                        .row.justify-content-center.align-items-center
                            .col
                                p involucrados en la inocuidad de los alimentos, recomendaciones para la compra, transporte de alimentos, la forma de conservación y aspectos a tener en cuenta en la preparación de la comida, para evitar enfermedades transmitidas por los alimentos.   
                                section.mt-3
                                    a(href="https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/VS/PP/SNA/abc-inocuidad.pdf" target="_blank").media-link      

                                        img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon

                                        .media-link-title.ml-4
                                            p #[strong Anexo.] Abc inocuidad de alimentos
                            .col-auto
                                img.img-a.my-2(src="assets/images/pages/ilustraciones/img24.svg").img-fluid                                                