.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Cambio de comportamiento:
            | Capacidad que tiene cualquier ser humano de transformar conductas y prácticas a partir de la toma consciente de decisiones. Supone la transformación de conductas, prácticas y acciones al mismo tiempo; es un proceso que toma tiempo, requiere de apoyo, acompañamiento continuo y se considera exitoso cuando se logra establecer con el paso del tiempo que el cambio es permanente.
        
        p
            strong.mr-2 Educación Alimentaria y Nutricional:
            | Estrategias educativas diseñadas para facilitar la adopción voluntaria de conductas alimentarias y otros comportamientos relacionados con la alimentación y nutrición propicios para la salud y bienestar.
        p 
            strong.mr-2 Entornos:
            | Los entornos son escenarios de vida cotidiana configurados por elementos físicos, ambientales, sociales, políticos, económicos y culturales, donde las personas se desarrollan, y en los que se produce una intensa y continua interacción entre ellos y con el contexto que les rodea, e inciden en la construcción de la vida subjetiva y cotidiana y en el vínculo con la vida social, histórica, cultural, política y económica de la sociedad a la que pertenecen.
        p 
            strong.mr-2 Herramienta educativa:
            | Son los procedimientos, formas y productos que contribuyen a cambiar actitudes y a generar reflexiones y transformaciones en los hábitos y prácticas no saludables de los grupos interactivos o audiencias priorizados. Todas las herramientas cumplen la triple función de informar, educar y comunicar.

        p 
            strong.mr-2 IEC:
            | Información Educación y Comunicación

        p 
            strong.mr-2 SAN:
            | Seguridad Alimentaria y Nutricional la cual implica la primera escala de realización del derecho a la alimentación con respecto a los hogares y los individuos. El concepto registrado en el CONPES 113 expresa que la Seguridad alimentaria y nutricional #[i “es la disponibilidad suficiente y estable de alimentos, el acceso y el consumo oportuno y permanente de los mismos en cantidad, calidad e inocuidad por parte de todas las personas, bajo condiciones que permitan su adecuada utilización biológica, para llevar una vida saludable y activa” (DNP, 2008).]